form{
    width: 40%;
    background-color: white;
    margin: 30px auto;
    padding: 10px 15px;
    font-family: "Roboto Condensed", serif;
}
label{
    text-transform: capitalize;
    font-weight: 500;
}
input{
    display: block;
    width: 100%;
    border: 1px solid #d8d5d5;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius:6px;
}
textarea {
    width: 100%;           
    max-width: 800px;      
    height: 100px;         
    padding: 10px;          
    font-size: 16px;      
    line-height: 2;       
    border: 1px solid #ccc; 
    border-radius: 6px;     
    resize: vertical;      
    box-sizing: border-box;      
  }
.formBtn{
    margin-top: 10px;
   background-color: rgb(31, 35, 82);
   color: white;
   padding: 5px 10px;
   cursor: pointer;
    border-radius: 4px;
   border: 1px solid transparent;
}
