body{
    width: 800px;
    background-color: aliceblue;
}
.iframe{
    background-color: rgb(249, 249, 249);
    padding: 10px;
    width:100%;
    margin: 0px 15px 0px 15px;
    display: inline-block;
    min-height: 300px;
    background-color: rgb(69, 125, 125);
} 
