.tableSection{
    width: 45%;
    float: left;
    font-family: "Roboto Condensed", serif;
    background-color: white;
    margin:10px 20px;
    padding: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: #d3d2d2;
    border: 12px;
}
th, td {
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 5px;
  }
  .confirmedBtn{
    font-size: 14px;
    color: white;
    padding: 10px 12px;
    text-transform: capitalize;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 6px;
    background-color: rgb(25, 236, 25);
  }

.waitingBtn{
    font-size: 14px;
    color: white;
    padding: 10px 12px;
    text-transform: capitalize;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 6px;
    background-color: rgb(212, 188, 48);
  }
.cancelledBtn{
    font-size: 14px;
    color: white;
    padding: 10px 12px;
    text-transform: capitalize;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 6px;
    background-color: rgb(255, 0, 0);
  }
